.sidebar-brand{
	background: white;

}

/*form .form-group  input[type="text"], input[type="number"],input[type="password"]{
	border: 1px dotted #999;
    font-family : inherit;
    font-size   : 100%;
    box-shadow: inset 1px 1px 3px #ccc;
    border-radius: 5px;
    display: block;
    font-size: 100%;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    height: 30px;
    -webkit-appearance: none;
}*/
form{
	/*centrer le formulaire*/
	display: flex;
	justify-content: center;
	align-items: center;
}


.submit{
	width:100px;
    margin-left:5px;
    box-shadow:1px 1px 1px green;
	background: green;
}



 /*img { position: absolute; left: 00px; right:00px;
  top:50 px;}*/